beautifulsoup4==4.7.1
bootstrap4==0.1.0
celery==4.3.0
dj-email-url==0.2.0
Django==2.2
django-allauth==0.39.1
django-appconf==1.0.3
django-babel==0.6.2
django-bootstrap3==11.1.0
django-bootstrap4==1.0.1
django-cache-url==3.0.0
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-elasticsearch-dsl==0.5.1
django-filter==2.2.0
django-graphql-jwt==0.2.1
django-impersonate==1.4.1
django-js-asset==1.2.2
django-measurement==3.0.0
django-model-utils==3.2.0
django-mptt==0.10.0
django-phonenumber-field==2.4.0
django-prices==2.1.0
django-prices-openexchangerates==1.0.1
django-prices-vatlayer==1.0.2
django-recaptcha==1.5.0
django-redis==4.10.0
django-render-block==0.6
django-silk==2.0.0
django-storages==1.7.2
django-templated-email==2.3.0
django-versatileimagefield==1.10
django-webpack-loader==0.6.0
djangorestframework==3.10.3
fpdf==1.7.2
freezegun==0.3.12
gunicorn==20.0.4
ipaddress==1.0.22
Jinja2==2.10.3
Pillow==9.0.1
python-dateutil==2.8.0
requests==2.21.0
requests-oauthlib==1.2.0
whitenoise==2.0.6
django-admin-honeypot
mysqlclient