{% load static %}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Page Title - SB Admin</title>
        <link href="{% static 'projects/css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <style>
        .custom
        {
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(30,210,244,1) 100%);
        }
    </style>
    <body class="pb-5 custom">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container justify-content-center mt-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="text-center mt-5 ml-3"><a class="navbar-brand" href="/"><img src="{% static 'projects/assets/img/elite.png' %}" style="width: 70%;"></a></div>
                                    <div class="card-body">
                                        <form method='POST'>
                                            {% csrf_token %}
                                            {{form|crispy}}
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-info mb-5 text-right">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="card-footer text-center">
                                        <div class="small">Get Stuck? Contact us @ +91 9752315423 | <a href="https://www.linkedin.com/in/pandeyroshanjuet/">Roshan Pandey</a></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
